body{background:#0b0f16;color:#fff;font-family:Arial;margin:0;padding:20px}
.logo{width:120px;display:block;margin:auto}
.card{background:#141b24;padding:20px;border-radius:12px;margin-top:20px}
input{width:100%;padding:12px;margin-top:10px;border-radius:8px;border:none;background:#1e2630;color:#fff}
.row{display:flex;gap:10px}
.resultBox{background:#1c242e;padding:12px;margin-top:10px;border-radius:8px}
button{width:100%;padding:10px;margin-top:10px;background:#d4af37;border:none;border-radius:8px;font-weight:bold}
.hidden{display:none}